@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = GlobalContent.Shared_Error_Title;
}

<div class="alert alert-danger" role="alert">
    <span>@GlobalContent.Shared_Error_Message1</span>&nbsp;
    <a href="/">@GlobalContent.Shared_Error_BackText</a>&nbsp;
    <span>@GlobalContent.Shared_Error_Message2</span>        
</div>



