@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = IdentityResourceHelper.Load("Shared_Lockout_Title");
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title.</h1>
    <h2 class="text-danger">@IdentityResourceHelper.Load("Shared_Lockout_Msg")</h2>
</hgroup>
