.com-totalcount{
    margin-left:10px;
    color: #bb0505;
    font-size: 21px;
}
.com-inputtable{
    width:100%;
}
    .com-inputtable td:nth-of-type(1) img{
        margin-right: 10px;
    }
    .com-inputtable td:nth-of-type(2){
        width:100%;
    }
.com-inputpanel{
    margin-top:10px;
    display:none;
}
    .com-inputpanel td:nth-of-type(2){
        width:300px;
    }
.com-authtype{
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
}
.com-social{
    text-align: left;
    margin: 0px 10px 0 0;
    max-width: 100%;
    display: inline;
}
    .com-social .ulogin-buttons-container{
        display: inline !important;
        width: auto !important;
        height: auto !important;
    }
    .com-social .ulogin-buttons-container div{
        margin-bottom:10px !important;
        display: inline !important;
    }
.com-authorize{
    text-align: left;
    display: inline-block;
    width: 300px;
}
    .com-authorize input[type="text"]{
        width: 300px;
        margin-bottom: 10px;
    }
.com-controls{
    text-align:right;
}
.com-message{
    color: red;
    text-align: right;
    margin-top: 10px;
}


.com-author-container{
    position:relative;
}
.com-wrapper{   
    padding: 5px 10px 0 10px;
    z-index: 1;
    overflow: auto;
}
.com-reply{
    display: inline-block;
}
.com-time{
    margin-left: 10px;
    font-size: 11px;
}
.com-avatar{
    width:50px;
    height:50px;
    float:left;
    background-size: cover;
    background-position: center;
}
.com-author-content{margin-left:50px;}
.com-add-container{position:relative;}
.com-children{
    margin-left:15px;
    padding-top:15px;
}
.com-text-container{overflow-wrap:break-word;}
.com-text-container p:first-child {margin-top: 0;}
.com-text-container p{margin: 6px 0 6px 0;}
.com-delete-btn{float:right;}
.com-com-button{
    position:relative;
    display:inline-block;
    z-index:2;
    float:right;
}
.com-com-button a {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
    color: #a7a7a7;
    width: 16px;
    height: 16px;
    position: relative;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
    .com-com-button a:hover{
        text-decoration: none;
        color: #555;
        background: #f5f5f5;
    }
    .com-com-button a:hover:before {
      content: "";
      display: block;
      background: #fff;
      border-top: 2px solid #ddd;
      position: absolute;
      top: -3px;
      left: -3px;
      bottom: -3px;
      right: -3px;
      z-index: -1;
      border-radius: 50%;
      box-shadow: inset 0px 8px 48px #ddd;
    }
    .com-com-button img{
        vertical-align:middle;
        width:12px;
    }
.com-commands{
    background: white;
    position:absolute;top:30px;right:10px;    
     -moz-box-shadow: 1px 1px 3px #ddd;
    -webkit-box-shadow: 1px 1px 3px #ddd;
    box-shadow: 1px 1px 3px #ddd;   
    border: 1px solid #d6d6d6;
    padding: 5px 0 5px 0;
    z-index: 10;
}
    .com-commands ul{list-style: none;padding:0px;margin:0px;}
    .com-commands ul li {cursor:pointer;}
    .com-commands ul li:hover {background:black;color:white;}
    .com-commands ul li div{padding:5px 10px 5px 10px;}
.com-voteup, .com-votedown{
    width:19px;
    height:18px;
    margin-bottom:-7px;
    cursor:pointer;
}
.com-like-graf{
    display: inline-block;
    position: relative;
    height: 17px;
    width: 135px;
    top: 6px;
    border-radius: 3px;
    overflow: hidden;
}
.com-liketext
{
    line-height: 17px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.com-like-graf span {
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
}
.com-like {
    left: 0; 
    background: #478800;   
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.com-dislike {
    right: 0;  
    background: #c32d35;  
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
