.art-actionpanel{
    margin-right:20px;
}
.art-content{
    width:954px;
}

.upl-halftable>tbody>td>td{width:50%;vertical-align:top;}
.upl-previewborder
{
    width:280px;
    position:relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
    .upl-previewborder i.upl-delete
    {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 15px;
        height: 15px;
        cursor: pointer;
        display:none
    }
    .upl-previewborder i.upl-delete:after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        width: 20px;
        height: 20px;
        border-color: #747474;
        border-style: solid;
        border-width: 0px 0px 1px 1px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
    }
.upl-dropzone-hover
{
    -moz-box-shadow: 0px 0px 15px 2px rgba(40, 40, 46, 0.75); 
    -webkit-box-shadow: 0px 0px 15px 2px rgba(40, 40, 46, 0.75); 
    box-shadow: 0px 0px 15px 2px rgba(40, 40, 46, 0.75); 
}
    .upl-dropzone-hover * {
      pointer-events: none;
    }
.upl-empty{
    position:relative;
}
    .upl-empty i{
        font-size: 10em;
        opacity: .2;
    }
    .upl-empty div{
        position:absolute;
        top: 25px;
        margin: 0 20px;
        font-size: 20px;
        font-weight: bold;
        opacity: .7;
    }    
.upl-loading i{
    font-size: 6em;
    opacity: .7;
    margin: 30px 0;
}
.url-urlbutton{
    margin-left:20px;
}
#fullPreviewContainer{
    margin:10px 0 20px 165px;
}