@{
    ViewBag.Title = IdentityResourceHelper.Load("Account_DisplayEmail_Title");
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    @IdentityResourceHelper.Load("Account_DisplayEmail_CheckEmail")
</p>

