@{
    ViewBag.Title = IdentityResourceHelper.Load("Account_ForgotPasswordConfirmation_Title");
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @IdentityResourceHelper.Load("Account_ForgotPasswordConfirmation_CheckEmail")
    </p>
</div>

