@{
    ViewBag.Title = IdentityResourceHelper.Load("Account_ResetPasswordConfirmation_Title");
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @IdentityResourceHelper.Load("Account_ResetPasswordConfirmation_Msg") @Html.ActionLink(
            IdentityResourceHelper.Load("Account_ResetPasswordConfirmation_Link")
            , "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
